@charset "UTF-8";

body {
  background-color: #82dc82;
  font-family: Arial, Helvetica, sans-serif;
  
  
}

h1 {
  color: #0c600c;
}

h1#principal{
  text-align: center;
  background-color: #0c600c;
  color:  #82dc82;
}

h2 {
  color: #30a230;
}

.basico {
  color: #30a230;
}

.intermediario {
  color: #a0a230;
}

.avancado {
  color: #a23030;
}